html,
body {
  background: #fff url("../images/body-bg.png") repeat left top;
  font-family: arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0; }

.ident,
.ident__background,
.ident__background__extra,
.ident__msg {
  height: 100%;
  position: absolute;
  width: 100%; }

.ident__background {
  background-size: 100%; }

@-webkit-keyframes building-bg-pan {
  to {
    transform: translate3d(-15%, -3%, 0); } }
@keyframes building-bg-pan {
  to {
    transform: translate3d(-15%, -3%, 0); } }
@-webkit-keyframes building-one-cut {
  0%, 19.9999% {
    opacity: 1; }
  20%, 99.999% {
    opacity: 0; } }
@keyframes building-one-cut {
  0%, 19.9999% {
    opacity: 1; }
  20%, 99.999% {
    opacity: 0; } }
@-webkit-keyframes building-two-cut {
  0%, 19.999%, 40%, 99.999% {
    opacity: 0; }
  20%, 39.999% {
    opacity: 1; } }
@keyframes building-two-cut {
  0%, 19.999%, 40%, 99.999% {
    opacity: 0; }
  20%, 39.999% {
    opacity: 1; } }
@-webkit-keyframes building-three-cut {
  0%, 39.999%, 60%, 99.999% {
    opacity: 0; }
  40%, 59.999% {
    opacity: 1; } }
@keyframes building-three-cut {
  0%, 39.999%, 60%, 99.999% {
    opacity: 0; }
  40%, 59.999% {
    opacity: 1; } }
@-webkit-keyframes building-four-cut {
  0%, 59.999%, 80%, 99.999% {
    opacity: 0; }
  60%, 79.999% {
    opacity: 1; } }
@keyframes building-four-cut {
  0%, 59.999%, 80%, 99.999% {
    opacity: 0; }
  60%, 79.999% {
    opacity: 1; } }
@-webkit-keyframes building-five-cut {
  0%, 79.999% {
    opacity: 0; }
  80%, 99.999% {
    opacity: 1; } }
@keyframes building-five-cut {
  0%, 79.999% {
    opacity: 0; }
  80%, 99.999% {
    opacity: 1; } }
@-webkit-keyframes building-bg-zoom {
  to {
    transform: scale3d(1.2, 1.2, 0); } }
@keyframes building-bg-zoom {
  to {
    transform: scale3d(1.2, 1.2, 0); } }
@-webkit-keyframes jitter {
  50% {
    opacity: 0;
    transition: scale3d(0.5, 0.2, 1); }
  60% {
    opacity: 0.5;
    transition: scale3d(0.9, 0.8, 1); }
  70% {
    opacity: 0;
    transition: scale3d(0, 0, 0); }
  80% {
    opacity: 1;
    transition: scale3d(1, 1, 1); }
  90% {
    opacity: 0.2;
    transition: scale3d(0.2, 0.2, 1); }
  100% {
    opacity: 1;
    transition: scale3d(1, 1, 1); } }
@keyframes jitter {
  50% {
    opacity: 0;
    transition: scale3d(0.5, 0.2, 1); }
  60% {
    opacity: 0.5;
    transition: scale3d(0.9, 0.8, 1); }
  70% {
    opacity: 0;
    transition: scale3d(0, 0, 0); }
  80% {
    opacity: 1;
    transition: scale3d(1, 1, 1); }
  90% {
    opacity: 0.2;
    transition: scale3d(0.2, 0.2, 1); }
  100% {
    opacity: 1;
    transition: scale3d(1, 1, 1); } }
@-webkit-keyframes float {
  to {
    transform: translate3d(0, 0.2em, 0); } }
@keyframes float {
  to {
    transform: translate3d(0, 0.2em, 0); } }
.ident--building {
  -webkit-animation: jitter 0.1s 6s 4 step-start, jitter 0.1s 15s 2 step-start, jitter 0.1s 30s 5 step-start, jitter 0.1s 45s 4 step-start, jitter 0.1s 60s 6 step-start, jitter 0.1s 75s 5 step-start, jitter 0.1s 100s 3 step-start;
  animation: jitter 0.1s 6s 4 step-start, jitter 0.1s 15s 2 step-start, jitter 0.1s 30s 5 step-start, jitter 0.1s 45s 4 step-start, jitter 0.1s 60s 6 step-start, jitter 0.1s 75s 5 step-start, jitter 0.1s 100s 3 step-start; }

.ident__background--building-one {
  -webkit-animation: building-bg-pan 45s infinite ease, building-one-cut 25s infinite;
  animation: building-bg-pan 45s infinite ease, building-one-cut 25s infinite;
  background-image: url("../images/building-bg-01.jpg");
  background-position: left bottom;
  height: 110%;
  width: 150%; }

.ident__background--building-two {
  -webkit-animation: building-bg-zoom 45s infinite ease alternate, building-two-cut 25s infinite;
  animation: building-bg-zoom 45s infinite ease alternate, building-two-cut 25s infinite;
  background-image: url("../images/building-bg-02.jpg");
  background-position: left bottom;
  transform-origin: left bottom; }

.ident__background--building-three {
  -webkit-animation: building-bg-zoom 45s infinite ease alternate, building-three-cut 25s infinite;
  animation: building-bg-zoom 45s infinite ease alternate, building-three-cut 25s infinite;
  background-image: url("../images/building-bg-03.jpg");
  background-position: left center; }

.ident__background--building-four {
  -webkit-animation: building-bg-pan 45s infinite ease, building-four-cut 25s infinite;
  animation: building-bg-pan 45s infinite ease, building-four-cut 25s infinite;
  background-image: url("../images/building-bg-04.jpg");
  background-position: left top;
  height: 110%;
  width: 150%; }

.ident__background--building-five {
  -webkit-animation: building-five-cut 25s infinite;
  animation: building-five-cut 25s infinite;
  background-image: url("../images/building-bg-05.gif");
  background-position: center;
  height: 110%;
  width: 110%; }

.ident__msg--building {
  -webkit-animation: float 1s infinite linear alternate;
  animation: float 1s infinite linear alternate;
  background: transparent url("../images/building-msg-01.png") no-repeat center 10%;
  background-size: 95%; }
  @media screen and (min-width: 763px) {
    .ident__msg--building {
      background-size: auto; } }

.ident__msg--buildiing__play {
  -webkit-animation: float 0.8s infinite linear alternate;
  animation: float 0.8s infinite linear alternate;
  background: transparent url("../images/building-msg-02.png") no-repeat center center;
  cursor: pointer;
  height: 90px;
  margin: 0 auto;
  max-width: 190px;
  position: relative;
  top: 45%;
  z-index: 100; }

@-webkit-keyframes gone {
  0%, 80% {
    transform: none; }
  100% {
    transform: skewX(50deg) skewY(30deg) rotate(-25deg) scale(0.6); } }
@keyframes gone {
  0%, 80% {
    transform: none; }
  100% {
    transform: skewX(50deg) skewY(30deg) rotate(-25deg) scale(0.6); } }
@-webkit-keyframes breathe {
  50%, 52% {
    background-color: orange;
    transform: scale3d(1.1, 1.1, 1.1); }
  51%, 51.9999% {
    background-color: #00d2ff;
    transform: scale3d(2, 3, 2.8) rotate(45deg); }
  95%, 97% {
    background-color: #001961;
    transform: scale3d(1.3, 1.3, 1.3); }
  96%, 96.9999% {
    background-color: #7eff00;
    transform: scale3d(2, 5, 5.5) rotate(-58deg); } }
@keyframes breathe {
  50%, 52% {
    background-color: orange;
    transform: scale3d(1.1, 1.1, 1.1); }
  51%, 51.9999% {
    background-color: #00d2ff;
    transform: scale3d(2, 3, 2.8) rotate(45deg); }
  95%, 97% {
    background-color: #001961;
    transform: scale3d(1.3, 1.3, 1.3); }
  96%, 96.9999% {
    background-color: #7eff00;
    transform: scale3d(2, 5, 5.5) rotate(-58deg); } }
@-webkit-keyframes enter {
  0% {
    transform: translate3d(-300%, 0, 0) rotate(-270deg); }
  20%, 70% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(300%, 0, 0) rotate(270deg); } }
@keyframes enter {
  0% {
    transform: translate3d(-300%, 0, 0) rotate(-270deg); }
  20%, 70% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(300%, 0, 0) rotate(270deg); } }
@-webkit-keyframes closeup {
  0%, 48%, 51%, 68%, 71% {
    background-size: 75%;
    -webkit-filter: brightness(1);
    filter: brightness(1); }
  50%, 50.9999% {
    background-size: 300%;
    -webkit-filter: brightness(3);
    filter: brightness(3); }
  70%, 70.9999% {
    background-size: 20%;
    -webkit-filter: brightness(2);
    filter: brightness(2); } }
@keyframes closeup {
  0%, 48%, 51%, 68%, 71% {
    background-size: 75%;
    -webkit-filter: brightness(1);
    filter: brightness(1); }
  50%, 50.9999% {
    background-size: 300%;
    -webkit-filter: brightness(3);
    filter: brightness(3); }
  70%, 70.9999% {
    background-size: 20%;
    -webkit-filter: brightness(2);
    filter: brightness(2); } }
@-webkit-keyframes tweak {
  0%, 28%, 31% {
    left: 0;
    top: 0; }
  30%, 30.9999% {
    left: -20%;
    top: 30%; } }
@keyframes tweak {
  0%, 28%, 31% {
    left: 0;
    top: 0; }
  30%, 30.9999% {
    left: -20%;
    top: 30%; } }
@-webkit-keyframes fidgit {
  0%, 7%, 11%, 47%, 52% {
    transform: scale3d(1, 1, 1); }
  10%, 10.9999% {
    transform: scale3d(12, -2, 12); }
  50%, 50.9999% {
    transform: scale3d(2, -5, 2); } }
@keyframes fidgit {
  0%, 7%, 11%, 47%, 52% {
    transform: scale3d(1, 1, 1); }
  10%, 10.9999% {
    transform: scale3d(12, -2, 12); }
  50%, 50.9999% {
    transform: scale3d(2, -5, 2); } }
.ident--armed {
  -webkit-animation: gone 8s infinite linear;
  animation: gone 8s infinite linear; }
  .ident--armed .ident__background {
    -webkit-animation: breathe 5s infinite linear;
    animation: breathe 5s infinite linear;
    background: #e14a52 url("../images/armed-bg-01.png") repeat center center;
    background-blend-mode: overlay; }
  .ident--armed .ident__background__extra {
    background: transparent url("../images/armed-bg-extra-01.png") repeat-x left top; }
  .ident--armed .ident__subject {
    -webkit-animation: enter 8s infinite linear alternate, closeup 6s infinite linear, tweak 6s infinite linear;
    animation: enter 8s infinite linear alternate, closeup 6s infinite linear, tweak 6s infinite linear;
    background: transparent url("../images/armed-subject-01.png") no-repeat center center;
    background-size: 75%;
    height: 100%;
    position: absolute;
    width: 95%; }
  .ident--armed .ident__msg {
    -webkit-animation: fidgit 6s infinite linear;
    animation: fidgit 6s infinite linear;
    background: transparent url("../images/armed-msg-01.png") no-repeat center 87%;
    background-size: 60%; }

@-webkit-keyframes fly {
  0% {
    transform: translate3d(-100%, 100%, 0) scale(0.2); }
  6.9% {
    transform: translate3d(0, 0, 0) scale(1); }
  7%, 9%, 11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29%, 31%, 33%, 35%,
  37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59%, 61%, 63%, 65% {
    transform: translate3d(2px, 0px, 0) scale(1); }
  67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {
    transform: translate3d(1px, -1px, 0) scale(1); }
  91%, 92% {
    transform: skewX(-10deg) skewY(20deg); }
  8%, 10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28%, 30%, 32%, 34%,
  38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64% {
    transform: translate3d(-2px, -1px, 0) scale(0.999); }
  68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {
    transform: translate3d(-1px, 2px, 0) scale(1); } }
@keyframes fly {
  0% {
    transform: translate3d(-100%, 100%, 0) scale(0.2); }
  6.9% {
    transform: translate3d(0, 0, 0) scale(1); }
  7%, 9%, 11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29%, 31%, 33%, 35%,
  37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59%, 61%, 63%, 65% {
    transform: translate3d(2px, 0px, 0) scale(1); }
  67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {
    transform: translate3d(1px, -1px, 0) scale(1); }
  91%, 92% {
    transform: skewX(-10deg) skewY(20deg); }
  8%, 10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28%, 30%, 32%, 34%,
  38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64% {
    transform: translate3d(-2px, -1px, 0) scale(0.999); }
  68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {
    transform: translate3d(-1px, 2px, 0) scale(1); } }
@-webkit-keyframes track {
  100% {
    transform: translate3d(-50%, 0, 0); } }
@keyframes track {
  100% {
    transform: translate3d(-50%, 0, 0); } }
@-webkit-keyframes twirl {
  0%, 2%, 4% {
    transform: rotate3d(0, 0, 1, -359deg); }
  1%, 3%, 5%, 100% {
    transform: rotate3d(0, 0, 1, -1.6deg); } }
@keyframes twirl {
  0%, 2%, 4% {
    transform: rotate3d(0, 0, 1, -359deg); }
  1%, 3%, 5%, 100% {
    transform: rotate3d(0, 0, 1, -1.6deg); } }
@-webkit-keyframes chaos {
  0%, 49%, 51%, 100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) skew(0); }
  50%, 50.9999% {
    transform: translate3d(-20%, 0, 0) scale3d(0.3, 0.7, 1) skew(10deg, 2deg); } }
@keyframes chaos {
  0%, 49%, 51%, 100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) skew(0); }
  50%, 50.9999% {
    transform: translate3d(-20%, 0, 0) scale3d(0.3, 0.7, 1) skew(10deg, 2deg); } }
.ident--find {
  -webkit-animation: chaos 20s infinite linear;
  animation: chaos 20s infinite linear; }
  .ident--find .ident__background {
    -webkit-animation: track 15s infinite linear;
    animation: track 15s infinite linear;
    background: #2ab9e5 url("../images/find-bg-01.jpg") repeat left center;
    width: 500%; }
  .ident--find .ident__subject {
    -webkit-animation: twirl 10s infinite linear;
    animation: twirl 10s infinite linear;
    background: url("../images/find-subject-01.png") no-repeat left top;
    background-size: 100%;
    height: 101%;
    left: -15%;
    position: absolute;
    top: 1%;
    transform-origin: 65% 75%;
    width: 120%; }
  .ident--find .ident__msg {
    -webkit-animation: fly 10s infinite linear;
    animation: fly 10s infinite linear;
    background: transparent url("../images/find-msg-01.png") no-repeat 90% 5%;
    background-size: 40%; }

@-webkit-keyframes arise {
  0% {
    transform: translate3d(0, 200%, 0); }
  50%, 100% {
    transform: translate3d(0, 0, 0); } }
@keyframes arise {
  0% {
    transform: translate3d(0, 200%, 0); }
  50%, 100% {
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes shift {
  0%, 92% {
    background-position: 105% bottom; }
  100% {
    background-position: -10% bottom; } }
@keyframes shift {
  0%, 92% {
    background-position: 105% bottom; }
  100% {
    background-position: -10% bottom; } }
@-webkit-keyframes swim {
  0%, 25% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, -2px, 0); }
  75% {
    transform: translate3d(1px, -2px, 0); }
  100% {
    transform: translate3d(2px, 0, 0); } }
@keyframes swim {
  0%, 25% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, -2px, 0); }
  75% {
    transform: translate3d(1px, -2px, 0); }
  100% {
    transform: translate3d(2px, 0, 0); } }
.ident--win .ident__background {
  background-image: url("../images/win-bg-01.png"), url("../images/win-bg-02.gif");
  background-size: auto, 40%;
  background-repeat: repeat;
  background-position: center center;
  background-blend-mode: overlay, normal;
  opacity: 0.7; }
.ident--win .ident__subject {
  -webkit-animation: arise 15s infinite linear alternate, shift 0.4s infinite alternate;
  animation: arise 15s infinite linear alternate, shift 0.4s infinite alternate;
  background: transparent url("../images/win-subject-01.png") no-repeat 105% bottom;
  background-size: 50%;
  height: 100%;
  position: absolute;
  width: 100%; }
.ident--win .ident__msg {
  -webkit-animation: swim 0.1s infinite linear;
  animation: swim 0.1s infinite linear;
  background: transparent url("../images/win-msg-01.png") no-repeat 8% 90%;
  background-size: 50%; }

.paused .ident--win .ident__background {
  background-image: url("../images/win-bg-01.png"), url("../images/win-bg-paused.jpg"); }

@-webkit-keyframes freebird {
  0%, 49.9999%, 56% {
    background-color: transparent;
    background-position: center, center, center, center, center, center, center;
    background-blend-mode: normal;
    -webkit-filter: invert(0) grayscale(0);
    filter: invert(0) grayscale(0); }
  50% {
    -webkit-filter: invert(100%) grayscale(100%);
    filter: invert(100%) grayscale(100%);
    background-color: #00d8ec;
    background-position: center center, 95% 110%, 5% 15%, 15% 95%, 0% 10%, 95% 93%, 50% -40%;
    background-blend-mode: color, overlay, luminosity, soft-light, hard-light, saturation, darken; } }
@keyframes freebird {
  0%, 49.9999%, 56% {
    background-color: transparent;
    background-position: center, center, center, center, center, center, center;
    background-blend-mode: normal;
    -webkit-filter: invert(0) grayscale(0);
    filter: invert(0) grayscale(0); }
  50% {
    -webkit-filter: invert(100%) grayscale(100%);
    filter: invert(100%) grayscale(100%);
    background-color: #00d8ec;
    background-position: center center, 95% 110%, 5% 15%, 15% 95%, 0% 10%, 95% 93%, 50% -40%;
    background-blend-mode: color, overlay, luminosity, soft-light, hard-light, saturation, darken; } }
.ident--view {
  background-color: #4a89ec; }
  .ident--view .ident__subject {
    -webkit-animation: freebird 15s infinite linear;
    animation: freebird 15s infinite linear;
    background-image: url("../images/view-subject-01.png"), url("../images/view-subject-01.png"), url("../images/view-subject-01.png"), url("../images/view-subject-01.png"), url("../images/view-subject-01.png"), url("../images/view-subject-01.png"), url("../images/view-subject-01.png");
    background-repeat: no-repeat;
    background-position: center, center, center, center, center, center, center;
    background-blend-mode: normal;
    background-size: 50%;
    height: 100%;
    position: absolute;
    width: 100%; }

@-webkit-keyframes dance {
  0% {
    top: -45px;
    left: -30px; }
  50% {
    top: 6px;
    right: 30px; }
  100% {
    top: 0;
    right: 0; } }
@keyframes dance {
  0% {
    top: -45px;
    left: -30px; }
  50% {
    top: 6px;
    right: 30px; }
  100% {
    top: 0;
    right: 0; } }
@-webkit-keyframes pulse {
  0%, 34.9999%, 36%, 38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%,
  58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%,
  90%, 92%, 94%, 96%, 98%, 100% {
    -webkit-filter: brightness(1);
    filter: brightness(1); }
  35%, 37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59% {
    -webkit-filter: brightness(3);
    filter: brightness(3); }
  61%, 63%, 65%, 67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89% {
    -webkit-filter: brightness(5);
    filter: brightness(5); }
  91%, 93%, 95%, 97%, 99% {
    -webkit-filter: brightness(4);
    filter: brightness(4); } }
@keyframes pulse {
  0%, 34.9999%, 36%, 38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%,
  58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%,
  90%, 92%, 94%, 96%, 98%, 100% {
    -webkit-filter: brightness(1);
    filter: brightness(1); }
  35%, 37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59% {
    -webkit-filter: brightness(3);
    filter: brightness(3); }
  61%, 63%, 65%, 67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89% {
    -webkit-filter: brightness(5);
    filter: brightness(5); }
  91%, 93%, 95%, 97%, 99% {
    -webkit-filter: brightness(4);
    filter: brightness(4); } }
@-webkit-keyframes lazers {
  0%, 9%, 20%, 100% {
    opacity: 0; }
  10% {
    opacity: 1; } }
@keyframes lazers {
  0%, 9%, 20%, 100% {
    opacity: 0; }
  10% {
    opacity: 1; } }
@-webkit-keyframes fakedelay {
  0%, 34.9999% {
    transform: scale(0); }
  35%, 100% {
    transform: scale(1); } }
@keyframes fakedelay {
  0%, 34.9999% {
    transform: scale(0); }
  35%, 100% {
    transform: scale(1); } }
@-webkit-keyframes curtain {
  0%, 2% {
    opacity: 1; }
  5%, 34.9999% {
    opacity: 0; }
  35%, 90% {
    opacity: 0.3; }
  92%, 100% {
    opacity: 1; } }
@keyframes curtain {
  0%, 2% {
    opacity: 1; }
  5%, 34.9999% {
    opacity: 0; }
  35%, 90% {
    opacity: 0.3; }
  92%, 100% {
    opacity: 1; } }
@-webkit-keyframes tellit {
  0%, 1% {
    transform: translate3d(0, -100%, 0); }
  10%, 100% {
    transform: translate3d(0, 0, 0); } }
@keyframes tellit {
  0%, 1% {
    transform: translate3d(0, -100%, 0); }
  10%, 100% {
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes pizzapizza {
  0%, 33% {
    transform: translate3d(20%, -100%, 0); }
  34%, 100% {
    transform: translate3d(0, 0, 0); } }
@keyframes pizzapizza {
  0%, 33% {
    transform: translate3d(20%, -100%, 0); }
  34%, 100% {
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes bowwowow {
  0%, 10% {
    transform: translate3d(-100%, 0, 0); }
  20%, 100% {
    transform: translate3d(0, 0, 0); } }
@keyframes bowwowow {
  0%, 10% {
    transform: translate3d(-100%, 0, 0); }
  20%, 100% {
    transform: translate3d(0, 0, 0); } }
.ident--dog {
  -webkit-animation: pulse 30s infinite;
  animation: pulse 30s infinite;
  background: #e1b38f url("../images/dog-bg-01.jpg") no-repeat center bottom;
  background-size: 100%; }
  .ident--dog .ident__background {
    -webkit-animation: lazers 0.3s infinite, fakedelay 30s infinite;
    animation: lazers 0.3s infinite, fakedelay 30s infinite;
    background: linear-gradient(25deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 15%, rgba(255, 0, 132, 0.8) 15%, rgba(255, 0, 132, 0.8) 16%, rgba(0, 0, 0, 0.2) 16%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 216, 236, 0.8) 40%, rgba(0, 216, 236, 0.8) 41%, rgba(0, 0, 0, 0.2) 41%, rgba(0, 0, 0, 0.2) 67%, rgba(255, 0, 132, 0.7) 67%, rgba(255, 0, 132, 0.7) 68%, rgba(0, 0, 0, 0.2) 68%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(50deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 10%, #00d8ec 10%, #00d8ec 11%, rgba(0, 0, 0, 0.2) 11%, rgba(0, 0, 0, 0.2) 40%, #77ec00 40%, #77ec00 41%, rgba(0, 0, 0, 0.2) 41%, rgba(0, 0, 0, 0.2) 67%, #ec1500 67%, #ec1500 68%, rgba(0, 0, 0, 0.2) 68%, rgba(0, 0, 0, 0.2) 100%);
    opacity: 0.4; }
  .ident--dog .ident__background__extra {
    -webkit-animation: curtain 30s infinite;
    animation: curtain 30s infinite;
    background-color: #000; }
  .ident--dog .ident__subject {
    height: 100%;
    position: absolute;
    width: 100%; }
  .ident--dog .ident__subject--table,
  .ident--dog .ident__subject--pizza {
    background-repeat: no-repeat;
    background-position: 98% 99%;
    background-size: 31.95313%; }
  .ident--dog .ident__subject--table {
    background-image: url("../images/dog-subject-01.png"); }
  .ident--dog .ident__subject--pizza {
    -webkit-animation: pizzapizza 30s infinite linear;
    animation: pizzapizza 30s infinite linear;
    background-image: url("../images/dog-subject-02.png"); }
  .ident--dog .ident__subject--jerry,
  .ident--dog .ident__subject--bonnie,
  .ident--dog .ident__subject--fletch {
    background-repeat: no-repeat;
    background-size: 28.35937%; }
  .ident--dog .ident__subject--jerry {
    -webkit-animation: bowwowow 30s infinite linear, dance 0.12s infinite alternate;
    animation: bowwowow 30s infinite linear, dance 0.12s infinite alternate;
    -webkit-animation-delay: 0.7s, 10s;
    animation-delay: 0.7s, 10s;
    background-image: url("../images/dog-subject-03.png");
    background-position: -2% 92%; }
  .ident--dog .ident__subject--bonnie {
    -webkit-animation: bowwowow 30s infinite linear, dance 0.1s infinite alternate;
    animation: bowwowow 30s infinite linear, dance 0.1s infinite alternate;
    -webkit-animation-delay: 0.3s, 10s;
    animation-delay: 0.3s, 10s;
    background-image: url("../images/dog-subject-04.png");
    background-position: 30% 92%; }
  .ident--dog .ident__subject--fletch {
    -webkit-animation: bowwowow 30s infinite linear, dance 0.12s infinite alternate;
    animation: bowwowow 30s infinite linear, dance 0.12s infinite alternate;
    -webkit-animation-delay: 0s, 10s;
    animation-delay: 0s, 10s;
    background-image: url("../images/dog-subject-05.png");
    background-position: 60% 92%; }
  .ident--dog .ident__msg {
    -webkit-animation: tellit 30s infinite linear;
    animation: tellit 30s infinite linear;
    background: transparent url("../images/dog-msg-01.png") no-repeat left top;
    background-size: 49.375%; }

.ident__background--precious {
  background: #a73a1c url("../images/precious-bg-01.gif") repeat center;
  background-size: 100%;
  background-blend-mode: exclusion; }

.ident__subject--precious {
  background: transparent url("../images/precious-subject-01.png") no-repeat center bottom;
  background-size: 75%;
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 100%; }

@-webkit-keyframes bothered {
  0%, 49.999% {
    -webkit-filter: drop-shadow(0 0 0 transparent);
    filter: drop-shadow(0 0 0 transparent); }
  50% {
    -webkit-filter: drop-shadow(0 0 0 #a2ff00) drop-shadow(0 0 0 #cdff00) drop-shadow(0 0 0 #f7ff00) drop-shadow(0 0 0 #ffdc00) drop-shadow(0 0 0 #ffb200) drop-shadow(0 0 0 #ff8700) drop-shadow(0 0 0 #ff5d00);
    filter: drop-shadow(0 0 0 #a2ff00) drop-shadow(0 0 0 #cdff00) drop-shadow(0 0 0 #f7ff00) drop-shadow(0 0 0 #ffdc00) drop-shadow(0 0 0 #ffb200) drop-shadow(0 0 0 #ff8700) drop-shadow(0 0 0 #ff5d00); }
  100% {
    -webkit-filter: drop-shadow(0 15vw 0 #a2ff00) drop-shadow(0 30vw 0 #cdff00) drop-shadow(0 45vw 0 #f7ff00) drop-shadow(0 60vw 0 #ffdc00) drop-shadow(0 75vw 0 #ffb200) drop-shadow(0 90vw 0 #ff8700) drop-shadow(0 105vw 0 #ff5d00);
    filter: drop-shadow(0 15vw 0 #a2ff00) drop-shadow(0 30vw 0 #cdff00) drop-shadow(0 45vw 0 #f7ff00) drop-shadow(0 60vw 0 #ffdc00) drop-shadow(0 75vw 0 #ffb200) drop-shadow(0 90vw 0 #ff8700) drop-shadow(0 105vw 0 #ff5d00); } }
@keyframes bothered {
  0%, 49.999% {
    -webkit-filter: drop-shadow(0 0 0 transparent);
    filter: drop-shadow(0 0 0 transparent); }
  50% {
    -webkit-filter: drop-shadow(0 0 0 #a2ff00) drop-shadow(0 0 0 #cdff00) drop-shadow(0 0 0 #f7ff00) drop-shadow(0 0 0 #ffdc00) drop-shadow(0 0 0 #ffb200) drop-shadow(0 0 0 #ff8700) drop-shadow(0 0 0 #ff5d00);
    filter: drop-shadow(0 0 0 #a2ff00) drop-shadow(0 0 0 #cdff00) drop-shadow(0 0 0 #f7ff00) drop-shadow(0 0 0 #ffdc00) drop-shadow(0 0 0 #ffb200) drop-shadow(0 0 0 #ff8700) drop-shadow(0 0 0 #ff5d00); }
  100% {
    -webkit-filter: drop-shadow(0 15vw 0 #a2ff00) drop-shadow(0 30vw 0 #cdff00) drop-shadow(0 45vw 0 #f7ff00) drop-shadow(0 60vw 0 #ffdc00) drop-shadow(0 75vw 0 #ffb200) drop-shadow(0 90vw 0 #ff8700) drop-shadow(0 105vw 0 #ff5d00);
    filter: drop-shadow(0 15vw 0 #a2ff00) drop-shadow(0 30vw 0 #cdff00) drop-shadow(0 45vw 0 #f7ff00) drop-shadow(0 60vw 0 #ffdc00) drop-shadow(0 75vw 0 #ffb200) drop-shadow(0 90vw 0 #ff8700) drop-shadow(0 105vw 0 #ff5d00); } }
.ident__msg--precious {
  -webkit-animation: bothered 5s infinite;
  animation: bothered 5s infinite;
  background: transparent url("../images/precious-msg-01.png") no-repeat center top;
  background-size: 100%;
  left: -1.5%;
  top: -2%;
  width: 103%; }

.ident__msg--north {
  background: #232323 url("../images/north-msg-01.png") no-repeat center center;
  background-size: 90%; }

.ident__background--buy {
  background: #002cff url("../images/buy-bg-01.png") repeat center center;
  background-size: 100%; }

.ident__msg--buy {
  background: black url("../images/buy-msg-01.gif") repeat left top;
  background-size: 150%;
  border-radius: 0 0 100%;
  box-shadow: inset -6px -6px 25px rgba(255, 255, 0, 0.8);
  height: 50%;
  width: 50%; }

.paused .ident__msg--buy {
  background-image: url("../images/buy-msg-paused.png"); }

@-webkit-keyframes afi {
  to {
    opacity: 1; } }
@keyframes afi {
  to {
    opacity: 1; } }
.ident--afi {
  background-color: #d40000; }

.ident__msg--afi {
  -webkit-animation: afi 2s 4s 1 forwards;
  animation: afi 2s 4s 1 forwards;
  background: #d40000 url("../images/afi-msg.jpg") no-repeat center center;
  background-size: contain;
  opacity: 0; }

@-webkit-keyframes rise-bg-one {
  to {
    opacity: 1; } }
@keyframes rise-bg-one {
  to {
    opacity: 1; } }
@-webkit-keyframes spin {
  100% {
    transform: rotate(-359deg); } }
@keyframes spin {
  100% {
    transform: rotate(-359deg); } }
.ident__background--rise--zero {
  background: #79ff00 url("../images/rise-bg-0.png") repeat center; }

.ident__background--rise--one {
  -webkit-animation: rise-bg-one 3s 6s 1 forwards;
  animation: rise-bg-one 3s 6s 1 forwards;
  background: transparent url("../images/rise-bg-01.jpg") repeat center top;
  background-size: cover;
  opacity: 0; }

@-webkit-keyframes element-in {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes element-in {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.ident__background--rise--two {
  -webkit-animation: element-in 1.5s 7s 1 forwards;
  animation: element-in 1.5s 7s 1 forwards;
  transform: translate3d(0, 200%, 0);
  height: auto;
  opacity: 0;
  top: 50%; }
  .ident__background--rise--two .ident__background__content {
    -webkit-animation: spin 4s infinite linear;
    animation: spin 4s infinite linear;
    margin: 0 auto;
    max-width: 1800px;
    position: relative; }
    .ident__background--rise--two .ident__background__content img {
      display: block;
      margin: 0 auto;
      width: 90%; }
  @media screen and (min-width: 1200px) {
    .ident__background--rise--two {
      top: 40%; } }

@-webkit-keyframes bug-sequence-1 {
  0%, 32.999% {
    opacity: 1; }
  33%, 100% {
    opacity: 0; } }
@keyframes bug-sequence-1 {
  0%, 32.999% {
    opacity: 1; }
  33%, 100% {
    opacity: 0; } }
@-webkit-keyframes bug-sequence-2 {
  0%, 32.999%, 66%, 100% {
    opacity: 0; }
  33%, 65.999% {
    opacity: 1; } }
@keyframes bug-sequence-2 {
  0%, 32.999%, 66%, 100% {
    opacity: 0; }
  33%, 65.999% {
    opacity: 1; } }
@-webkit-keyframes bug-sequence-3 {
  0%, 65.999%, 100% {
    opacity: 0; }
  66%, 99.999% {
    opacity: 1; } }
@keyframes bug-sequence-3 {
  0%, 65.999%, 100% {
    opacity: 0; }
  66%, 99.999% {
    opacity: 1; } }
@-webkit-keyframes rise-three-float {
  50% {
    transform: translate3d(0, -10%, 0); } }
@keyframes rise-three-float {
  50% {
    transform: translate3d(0, -10%, 0); } }
.ident__background--rise--three {
  -webkit-animation: element-in 0.2s 10.5s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  animation: element-in 0.2s 10.5s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  transform: translate3d(0, 300%, 0);
  opacity: 0;
  height: auto;
  top: 30%;
  z-index: 777; }
  .ident__background--rise--three .ident__background__content {
    -webkit-animation: rise-three-float 4s infinite linear;
    animation: rise-three-float 4s infinite linear;
    margin: 0 auto;
    max-width: 275px;
    position: relative; }
    .ident__background--rise--three .ident__background__content img {
      -webkit-animation: spin 1.5s infinite reverse linear;
      animation: spin 1.5s infinite reverse linear;
      display: block;
      margin: 0 auto;
      width: 90%; }
  @media screen and (min-height: 960px) {
    .ident__background--rise--three {
      top: 40%; } }
  @media screen and (min-width: 1200px) and (min-height: 1100px) {
    .ident__background--rise--three {
      top: 30%; }
      .ident__background--rise--three .ident__background__content {
        max-width: 375px; } }
  @media screen and (min-width: 1500px) and (min-height: 1100px) {
    .ident__background--rise--three .ident__background__content {
      max-width: 410px; } }
  .ident__background--rise--three .rise--three__sequence {
    position: absolute;
    height: 100%;
    left: 15%;
    top: 13%;
    width: 100%; }
    .ident__background--rise--three .rise--three__sequence img {
      opacity: 0;
      position: absolute;
      width: 70%; }
    .ident__background--rise--three .rise--three__sequence img:nth-child(1) {
      -webkit-animation: bug-sequence-1 1s infinite;
      animation: bug-sequence-1 1s infinite; }
    .ident__background--rise--three .rise--three__sequence img:nth-child(2) {
      -webkit-animation: bug-sequence-2 1s infinite;
      animation: bug-sequence-2 1s infinite; }
    .ident__background--rise--three .rise--three__sequence img:nth-child(3) {
      -webkit-animation: bug-sequence-3 1s infinite;
      animation: bug-sequence-3 1s infinite; }

@-webkit-keyframes butter-fly {
  50% {
    transform: translate3d(0, -20%, 0); } }
@keyframes butter-fly {
  50% {
    transform: translate3d(0, -20%, 0); } }
.ident__background--butterfly {
  -webkit-animation: element-in 0.25s 10.5s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  animation: element-in 0.25s 10.5s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  opacity: 0;
  transform: translate3d(0, 300%, 0); }
  .ident__background--butterfly .ident__background__content {
    -webkit-animation: butter-fly 1.2s infinite ease alternate;
    animation: butter-fly 1.2s infinite ease alternate;
    margin: 0 auto;
    position: relative;
    top: 75%;
    max-width: 150px; }
    @media screen and (min-width: 1650px) {
      .ident__background--butterfly .ident__background__content {
        max-width: 180px;
        top: 61%; } }
    .ident__background--butterfly .ident__background__content img {
      display: block;
      width: 100%; }

@-webkit-keyframes birds-fly {
  35% {
    transform: translate3d(0, -15%, 0); } }
@keyframes birds-fly {
  35% {
    transform: translate3d(0, -15%, 0); } }
.ident__background--birds {
  -webkit-animation: element-in 0.25s 10.6s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  animation: element-in 0.25s 10.6s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  opacity: 0;
  transform: translate3d(0, 300%, 0); }
  .ident__background--birds .ident__background__content {
    -webkit-animation: birds-fly 1s infinite ease alternate;
    animation: birds-fly 1s infinite ease alternate;
    margin: 0 auto;
    position: relative;
    top: 87%;
    max-width: 250px; }
    @media screen and (min-width: 1650px) {
      .ident__background--birds .ident__background__content {
        max-width: 335px; } }
    .ident__background--birds .ident__background__content img {
      display: block;
      width: 100%; }

@-webkit-keyframes bills-stretch {
  50% {
    transform: scale3d(1.1, 1, 1) translate3d(0, -5%, 0); } }
@keyframes bills-stretch {
  50% {
    transform: scale3d(1.1, 1, 1) translate3d(0, -5%, 0); } }
.ident__background--bills {
  -webkit-animation: element-in 0.3s 10.5s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  animation: element-in 0.3s 10.5s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  opacity: 0;
  transform: translate3d(0, 300%, 0);
  box-sizing: border-box;
  top: 35%;
  height: auto;
  padding: 0 50px; }
  .ident__background--bills .ident__background__content {
    -webkit-animation: bills-stretch 2s infinite linear alternate;
    animation: bills-stretch 2s infinite linear alternate;
    margin: 0 auto;
    position: relative;
    max-width: 950px; }
    .ident__background--bills .ident__background__content img {
      display: block;
      width: 100%; }

@-webkit-keyframes deer-1 {
  5% {
    transform: rotate(0); }
  20%, 40%, 60%, 80% {
    transform: rotate(-0.9deg); }
  30%, 50%, 70%, 90% {
    transform: rotate(0.5deg); }
  95%, 100% {
    transform: rotate(0); } }
@keyframes deer-1 {
  5% {
    transform: rotate(0); }
  20%, 40%, 60%, 80% {
    transform: rotate(-0.9deg); }
  30%, 50%, 70%, 90% {
    transform: rotate(0.5deg); }
  95%, 100% {
    transform: rotate(0); } }
@-webkit-keyframes deer-2 {
  6% {
    transform: rotate(0); }
  20%, 40%, 60%, 80% {
    transform: rotate(0.7deg); }
  30%, 50%, 70%, 90% {
    transform: rotate(-0.8deg); }
  95%, 100% {
    transform: rotate(0); } }
@keyframes deer-2 {
  6% {
    transform: rotate(0); }
  20%, 40%, 60%, 80% {
    transform: rotate(0.7deg); }
  30%, 50%, 70%, 90% {
    transform: rotate(-0.8deg); }
  95%, 100% {
    transform: rotate(0); } }
.ident__background--deer {
  -webkit-animation: element-in 0.25s 10.5s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  animation: element-in 0.25s 10.5s 1 cubic-bezier(0.5, 0.09, 0.69, 1.53) forwards;
  opacity: 0;
  transform: translate3d(0, 300%, 0);
  bottom: -10px;
  height: auto;
  z-index: 10; }
  .ident__background--deer .ident__background__content {
    margin: 0 auto;
    max-width: 1980px;
    width: 100%; }
    .ident__background--deer .ident__background__content img {
      box-sizing: border-box;
      display: block;
      float: left;
      padding: 0 5px;
      position: relative;
      width: 50%; }
  .ident__background--deer .deer-left {
    -webkit-animation: deer-1 4s infinite linear alternate;
    animation: deer-1 4s infinite linear alternate;
    transform-origin: bottom right;
    transform: rotate(-120deg); }
  .ident__background--deer .deer-right {
    -webkit-animation: deer-2 4s infinite linear alternate;
    animation: deer-2 4s infinite linear alternate;
    transform: rotate(120deg);
    transform-origin: bottom left; }

.ident--fin {
  background: black;
  color: white;
  font-size: 14px;
  text-align: center; }

.ident__msg--fin {
  margin-top: 25%; }

@-webkit-keyframes hide-controls {
  to {
    background-color: transparent; } }
@keyframes hide-controls {
  to {
    background-color: transparent; } }
.controls {
  -webkit-animation: hide-controls 0.1s 1s 1 forwards;
  animation: hide-controls 0.1s 1s 1 forwards;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  bottom: 0.6em;
  padding: 0 0.5em;
  position: absolute;
  width: 100%;
  z-index: 666; }

.controls-container {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: bold;
  margin: 0 auto;
  opacity: 0;
  padding: 1.4em;
  text-align: right;
  transition: opacity 0.2s;
  width: 100%; }
  .controls-container:hover {
    opacity: 1; }
  .controls-container a {
    color: white;
    display: inline-block;
    padding: 0 0.4em;
    text-decoration: none; }

.btn {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase; }

#watermark {
  bottom: 0.5em;
  display: block;
  left: 1em;
  opacity: 0.9;
  position: absolute;
  width: 80px;
  z-index: 777; }
  #watermark:hover, #watermark:focus {
    opacity: 1; }
  #watermark path {
    fill: #fff; }

.ident__msg--fourohfour {
  background: transparent url("../images/404-msg.png") no-repeat center center;
  background-size: 80%; }

.animated.paused,
.paused .animated {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important; }

.hidden {
  display: none;
  visibility: hidden; }
