$building-bg-duration: 25s;

@include keyframes(building-bg-pan) {
  to {
    transform: translate3d(-15%, -3%, 0);
  }
}

@include keyframes(building-one-cut) {
  0%, 19.9999% {
    opacity: 1;
  }

  20%, 99.999% {
    opacity: 0;
  }
}

@include keyframes(building-two-cut) {
  0%, 19.999%, 40%, 99.999% {
    opacity: 0;
  }

  20%, 39.999% {
    opacity: 1;
  }
}

@include keyframes(building-three-cut) {
  0%, 39.999%, 60%, 99.999% {
    opacity: 0;
  }

  40%, 59.999% {
    opacity: 1;
  }
}

@include keyframes(building-four-cut) {
  0%, 59.999%, 80%, 99.999% {
    opacity: 0;
  }

  60%, 79.999% {
    opacity: 1;
  }
}

@include keyframes(building-five-cut) {
  0%, 79.999% {
    opacity: 0;
  }

  80%, 99.999% {
    opacity: 1;
  }
}

@include keyframes(building-bg-zoom) {
  to {
    transform: scale3d(1.2, 1.2, 0);
  }
}

@include keyframes(jitter) {
    50% {
      opacity: 0;
      transition: scale3d(0.5, 0.2, 1);
    }

    60% {
      opacity: 0.5;
      transition: scale3d(0.9, 0.8, 1);
    }

    70% {
      opacity: 0;
      transition: scale3d(0, 0, 0);
    }

    80% {
      opacity: 1;
      transition: scale3d(1, 1, 1);
    }

    90% {
      opacity: 0.2;
      transition: scale3d(0.2, 0.2, 1);
    }

    100% {
      opacity: 1;
      transition: scale3d(1, 1, 1);
    }
}

@include keyframes(float) {
  to {
    transform: translate3d(0, 0.2em, 0);
  }
}

.ident--building {
  @include animation(
    jitter 0.1s 6s 4 step-start,
    jitter 0.1s 15s 2 step-start,
    jitter 0.1s 30s 5 step-start,
    jitter 0.1s 45s 4 step-start,
    jitter 0.1s 60s 6 step-start,
    jitter 0.1s 75s 5 step-start,
    jitter 0.1s 100s 3 step-start
  );
}

.ident__background--building-one {
  @include animation(
    building-bg-pan 45s infinite ease,
    building-one-cut $building-bg-duration infinite
  );
  background-image: url("../images/building-bg-01.jpg");
  background-position: left bottom;
  height: 110%;
  width: 150%;
}

.ident__background--building-two {
  @include animation(
    building-bg-zoom 45s infinite ease alternate,
    building-two-cut $building-bg-duration infinite
  );
  background-image: url("../images/building-bg-02.jpg");
  background-position: left bottom;
  transform-origin: left bottom;
}

.ident__background--building-three {
  @include animation(
    building-bg-zoom 45s infinite ease alternate,
    building-three-cut $building-bg-duration infinite
  );
  background-image: url("../images/building-bg-03.jpg");
  background-position: left center;
}

.ident__background--building-four {
  @include animation(
    building-bg-pan 45s infinite ease,
    building-four-cut $building-bg-duration infinite
  );
  background-image: url("../images/building-bg-04.jpg");
  background-position: left top;
  height: 110%;
  width: 150%;
}

.ident__background--building-five {
  @include animation(
    building-five-cut $building-bg-duration infinite
  );
  background-image: url("../images/building-bg-05.gif");
  background-position: center;
  height: 110%;
  width: 110%;
}

.ident__msg--building {
  @include animation(float 1s infinite linear alternate);
  background: transparent url("../images/building-msg-01.png") no-repeat center 10%;
  background-size: 95%;

  @media screen and (min-width: 763px) {
    background-size: auto;
  }
}

.ident__msg--buildiing__play {
  @include animation(float 0.8s infinite linear alternate);
  background: transparent url("../images/building-msg-02.png") no-repeat center center;
  cursor: pointer;
  height: 90px;
  margin: 0 auto;
  max-width: 190px;
  position: relative;
  top: 45%;
  z-index: 100;
}
