@include keyframes(bg-pan) {
  to {
    transform: translate3d(-15%, -3%, 0) scale3d(1.5, 1.5, 0);
  }
}

.ident__background--fin {
  @include animation(bg-pan 40s infinite linear);
  background: black url("../images/fin-bg.jpg") no-repeat left center;
  background-size: 100%;
  height: 110%;
  width: 150%;
}

.ident__msg--fin {
  background: transparent url("../images/fin-msg.png") no-repeat center center;
  background-size: 90%;
}

@media screen and (min-width: 490px) {
  .ident__msg--fin {
    background-size: auto;
  }
}
