$delay-rise: 0s;

@include keyframes(rise-bg-one) {
  to {
    opacity: 1;
  }
}

@include keyframes(spin) {
  100% {
    transform: rotate(-359deg);
  }
}

// Green dotted bg
.ident__background--rise--zero {
  background: #79ff00 url("../images/rise-bg-0.png") repeat center;
}

// Main black sun bg
.ident__background--rise--one {
  // @include animation(rise-bg-one 4s $delay-rise 1 forwards);
  background: transparent url("../images/rise-bg-01.jpg") repeat center top;
  background-size: cover;
  opacity: 1;
}

@include keyframes(bg-two-in) {
  to {
    transform: translate3d(0, 45%, 0);
  }
}

// Big ass spinning circle
.ident__background--rise--two {
  // @include animation(bg-two-in 2s $delay-rise 1 forwards);
  // transform: translate3d(0, 110%, 0);
  // transform: translate3d(0, 45%, 0);
  // bottom: -560px;
  height: auto;
  top: 50%;

  .ident__background__content {
    @include animation(spin 4s infinite linear);
    margin: 0 auto;
    max-width: 1800px;
    position: relative;

    img {
      display: block;
      margin: 0 auto;
      width: 90%;
    }
  }

  @media screen and (min-width: 1200px) {
    top: 40%;
  }
}

@include keyframes(bug-sequence-1) {
  0%, 32.999% {
    opacity: 1;
  }

  33%, 100% {
    opacity: 0;
  }
}

@include keyframes(bug-sequence-2) {
  0%, 32.999%, 66%, 100% {
    opacity: 0;
  }

  33%, 65.999% {
    opacity: 1;
  }
}

@include keyframes(bug-sequence-3) {
  0%, 65.999%, 100% {
    opacity: 0;
  }

  66%, 99.999% {
    opacity: 1;
  }
}


// Smaller spinning circle
.ident__background--rise--three {
  height: auto;
  top: 30%;

  .ident__background__content {
    margin: 0 auto;
    max-width: 275px;
    position: relative;

    img {
      @include animation(spin 1.5s infinite reverse linear);
      display: block;
      margin: 0 auto;
      width: 90%;
    }
  }

  @media screen and (min-width: 1200px) {
    top: 15%;

    .ident__background__content {
      max-width: 420px;
    }
  }

  @media screen and (min-width: 1500px) {
    top: 30%;
  }

  .rise--three__sequence {
    position: absolute;
    height: 100%;
    left: 15%;
    top: 13%;
    width: 100%;

    img {
      opacity: 0;
      position: absolute;
      width: 70%;
    }

    $bug-duration: 1s;

    img:nth-child(1) {
      @include animation(bug-sequence-1 $bug-duration infinite);
    }

    img:nth-child(2) {
      @include animation(bug-sequence-2 $bug-duration infinite);
    }

    img:nth-child(3) {
      @include animation(bug-sequence-3 $bug-duration infinite);
    }
  }
}

@include keyframes(butterfly-in) {
  to {
    transform: translate3d(0, 45%, 0);
  }
}

@include keyframes(butter-fly) {
  50% {
    transform: translate3d(0, -20%, 0);
  }
}

.ident__background--butterfly {
  // @include animation(butterfly-in 2s 8s 1 forwards);
  // transform: translate3d(0, 85%, 0);

  .ident__background__content {
    @include animation(butter-fly 1.2s infinite ease alternate);
    margin: 0 auto;
    position: relative;
    top: 75%;
    max-width: 150px;

    @media screen and (min-width: 1650px) {
      max-width: 180px;
      top: 61%;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

@include keyframes(birds-fly) {
  35% {
    transform: translate3d(0, -15%, 0);
  }
}

.ident__background--birds {
  // @include animation(butterfly-in 2s 8s 1 forwards);
  // transform: translate3d(0, 85%, 0);

  .ident__background__content {
    @include animation(birds-fly 1s infinite ease alternate);
    margin: 0 auto;
    position: relative;
    top: 87%;
    max-width: 250px;

    @media screen and (min-width: 1650px) {
      max-width: 335px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

@include keyframes(bills-stretch) {
  50% {
    transform: scale3d(1.1, 1, 1) translate3d(0, -5%, 0);
  }
}

.ident__background--bills {
  box-sizing: border-box;
  top: 35%;
  height: auto;
  padding: 0 50px;

  .ident__background__content {
    @include animation(bills-stretch 2s infinite linear alternate);
    margin: 0 auto;
    position: relative;
    max-width: 950px;

    img {
      display: block;
      width: 100%;
    }
  }
}

@include keyframes(deer-1) {
  5% {
    transform: rotate(0);
  }

  20%, 40%, 60%, 80% {
    transform: rotate(-0.9deg);
  }

  30%, 50%, 70%, 90% {
    transform: rotate(0.5deg);
  }

  95%, 100% {
    transform: rotate(0);
  }
}

@include keyframes(deer-2) {
  6% {
    transform: rotate(0);
  }

  20%, 40%, 60%, 80% {
    transform: rotate(0.7deg);
  }

  30%, 50%, 70%, 90% {
    transform: rotate(-0.8deg);
  }

  95%, 100% {
    transform: rotate(0);
  }
}

.ident__background--deer {
  bottom: -10px;
  height: auto;
  z-index: 10;

  .ident__background__content {
    margin: 0 auto;
    max-width: 1900px;
    width: 100%;

    img {
      box-sizing: border-box;
      display: block;
      float: left;
      padding: 0 5px;
      position: relative;
      width: 50%;
    }
  }

  .deer-left {
    @include animation(deer-1 10s infinite linear alternate);
    transform-origin: bottom right;
    transform: rotate(-120deg);
  }

  .deer-right {
    @include animation(deer-2 10s infinite linear alternate);
    transform: rotate(120deg);
    transform-origin: bottom left;
  }
}
