@import "nonsense";

@function percent($target, $context) {
  @return ($target / $context) * 100%;
}

html,
body {
  background: #fff url("../images/body-bg.png") repeat left top;
  font-family: arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.ident,
.ident__background,
.ident__background__extra,
.ident__msg {
  height: 100%;
  position: absolute;
  width: 100%;
}

.ident__background {
  background-size: 100%;
}

@import "building";
@import "armed";
@import "find";
@import "win";
@import "view";
@import "dog";
@import "precious";
@import "north";
@import "buy";
@import "afi";
@import "rise";
@import "fin";
@import "controls";

.ident__msg--fourohfour {
  background: transparent url("../images/404-msg.png") no-repeat center center;
  background-size: 80%;
}

.animated.paused,
.paused .animated {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.hidden {
  display: none;
  visibility: hidden;
}
