html,
body {
  background: #fff url("../images/body-bg.png") repeat left top;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.ident,
.ident__background,
.ident__background__extra,
.ident__msg {
  height: 100%;
  position: absolute;
  width: 100%;
}

.ident__background {
  background-size: 100%;
}

@import "armed";
@import "find";

.paused {
  .animated {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}
