@import "nonsense";

@function percent($target, $context) {
  @return ($target / $context) * 100%;
}

html,
body {
  background: #fff url("../images/body-bg.png") repeat left top;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.ident,
.ident__background,
.ident__background__extra,
.ident__msg {
  height: 100%;
  position: absolute;
  width: 100%;
}

.ident__background {
  background-size: 100%;
}

@import "building";
@import "armed";
@import "find";
@import "win";
@import "view";
@import "dog";
@import "precious";
@import "north";
@import "buy";

.ident__msg--fourohfour {
  background: transparent url("../images/404-msg.png") no-repeat center center;
  background-size: 80%;
}

.animated.paused,
.paused .animated {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.hidden {
  display: none;
  visibility: hidden;
}

// I used an id for styles cause I want to watch the world burn.
#watermark {
  bottom: 0.5em;
  display: block;
  left: 1em;
  opacity: 0.9;
  position: absolute;
  width: 80px;
  z-index: 99;

  &:hover,
  &:focus {
    opacity: 1;
  }

  path {
    fill: #fff;
  }
}
